*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  column-gap: 30px;
  margin: auto;
}

.result {
  width: 711px;
  margin: auto;
  padding-top: 76px;
}

.result__video {
  width: 710px;
  height: 386px;
  object-fit: cover;
  margin-bottom: -13px;
}

.result__video-container {
  position: relative;
  width: 711px;
  min-height: 386px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 711px;
  margin-top: 12px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  margin-top: 6px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 21px;
  margin-top: 4px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

.search-form__textfield {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  border-right: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #1b1919;
  appearance: none;
  width: 225px;
  margin-top: 5px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  border: 1px solid #ffffff;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.content__details {
  width: 399px;
  position: relative;
  bottom: -3px;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald", "Raleway";
  font-weight: bold;
  font-size: 75px;
  line-height: 67px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

span.content__accent {
  color: #545050;
  /*position: relative;*/
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 2.2ch;
  margin-top: 5px;
}

.content__accent::after {
  content: "-";
  position: absolute;
  left: 90px;
  top: -3px;
  color: currentColor;
  font-size: 70px;
  overflow: visible;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 399px;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-top: -5px;
}

.content__list-item {
  padding: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  width: 196px;
  flex-grow: 1;
  gap: 4px;
}

.content__video-card-title {
  font-family: "Oswald", "Raleway";
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  width: inherit;
  height: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 30px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: right center;
  margin-bottom: 5px;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
